<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-dot-circle"></i>
          statuzpage
        </a>
      </li>  
  <li class="nav-item">
    <a class="nav-link" href="/tv">
      <i class="fas fa-tv"></i>
      TV mode
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/reports">
      <i class="far fa-chart-bar"></i>
      Reports
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin">
      <i class="fas fa-users"></i>
      Administration
    </a>
  </li>
</ul>