{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        {% include "menu.html" %}
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {% if result %}
      <h3>{{group['Name']}} - {{result|length}} incidents ({{month}}/{{year}})</h3>
      <div class="album py-5">
        <div class="container">
          <div class="row">
            {% for incident in result %}
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                  <p class="card-text">
                    <h4>{{ incident['UrlName'] }}</h4>
                    <b>Início:</b> {{ incident['StartedAt']|formatdate }}<br>
                    {% if incident["FinishedAt"]["String"] %}
                    <b>Fim:</b> {{ incident['FinishedAt']['String']|formatdate }}
                    {% endif %}
                  </p>
                  {% if incident["FinishedAt"]["String"] %}
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ duration(incident["StartedAt"],incident["FinishedAt"]["String"])
                      }}</small>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <h3>{{group['Name']}} - 0 incidents ({{month}}/{{year}})</h3>
      {% endif %}
    </main>
  </div>
</div><br>
{% endblock %}
